.main
{
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
}

.mini_menu
{
    display: block;
    position: absolute;
    top: 25%;
    left: 9%;
    list-style-type: none;

}

.mini_mini
{
    border: 1px solid black;
    margin-bottom: 8px;
}


.main_menu
{
    display: inline-block;
}

.mini_mini:hover
{
    background-color: aqua;
    color: black;
}