h1
{
    font-family: 'Trocchi', serif;
    font-size: 20px;
    float: right;
    margin-right: 79%;
    color: rgb(254, 79, 114);
    background-color: rgb(244, 211, 177);
    
}


.icon__header
{
    font-size: 50px;
    color: rgba(247, 146, 103, 0.681);
    border: 3px;

}

.logo
{
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 80%;
}

img
{
    width: 400px;
}

body
{
    background-color: white;
}

.slogan
{
    width: 600px;
    display: block;
    position:absolute;
    float: right;
    margin-top: -13%;
    margin-left: 27%;
    font-size: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 20%;
}

.line
{
    width: 80%;
    height: 3px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgb(249, 188, 188);
}

.truyenkieu
{
    padding-top: 9% ;
    padding-left: 6%;
    height: 500px;
    width: auto;
}

.item_1
{
    float: left;
    position: relative;
    height: 400px;
    width: 200px;
    margin-left: 3%;
    margin-top: 5%;
    font-family: 'Lora', serif;
}

.title__tk
{
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 5px 45px;
    background-color: white ;
    border-radius: 10px;
    font-size: 40px;
}

.item_2
{
    padding-top: 6%;
}

.danhca
{
    float: left;
    margin-left: 15%;
    height: 500px;
}

.title_danhca
{
    position: absolute;
    top: 120%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Lora', serif;
    padding: 10px 50px;

}

.item_3
{
    padding-top: 5%;
    
}

.DC 
{
    float: left;
    margin-top: -5%;
    margin-left: 5%;
    height: 500px;
}

.title_DC
{
    position:absolute;
    top: 120%;
    left: 66%;
    background-color: white ;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Lora', serif;
    padding: 10px 50px;
}
.author__bonus{
    height: auto;
}

.Bonus_img
{
    margin-top: 10%;
    padding-left: 3%;
    width: 50%;
    border-radius: 30%;
}

.Author
{
    
    box-sizing: border-box
}

.title__tk:hover{
    background-color: rgb(185, 234, 217);
    color: rgb(0, 98, 255);
    text-decoration: underline;
}

.title_danhca:hover
{
    background-color: rgb(185, 234, 217);
    color: rgb(0, 98, 255);
    text-decoration: underline;
}

.title_DC:hover
{
    background-color: rgb(185, 234, 217);
    color: rgb(0, 98, 255);
    text-decoration: underline;
}

